@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center><h1>Application successfully installed. Redirecting to application</h1></center>
@section Scripts{
    <script>
        $(function () {
            setTimeout(function () {
                window.location = "/";
            }, 3000);
        })
    </script>
}